<!DOCTYPE HTML>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="author" content="GallerySoft.info" />
        <link rel="stylesheet" href="css/stysheet.css" type="text/css"  media="all"  />
        <title>Đăng nhập</title>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
            </div>
            <div id="main-container">
                <div class="fivecol-three">
                    <div class="box-1">
                        <div class="max-width" >
                            <img src="img/product_idvatgia.png" alt="ID Vật Giá"/>
                        </div>
                        <p class="info_id"> Bạn đang đăng nhập VatgiaID. Với VatgiaID, chỉ cần một lần đăng ký từ bất kỳ website nào, bạn có thể đăng nhập tất cả các website còn lại trong hệ thống.    <br/>
                            <span style="margin-top:10px;display: block;">
                                Các website trong hệ thống VatgiaID gồm: 
                                <a href="#" target="_blank">Vatgia.com</a>, 
                                <a href="#" target="_blank">Baokim.vn</a>, <a href="#" target="_blank">Mytour.vn</a>, <a href="http://cucre.vn" target="_blank">Cucre.vn</a>, <a href="#" target="_blank">Siki.vn</a>, <a href="#">Webbnc.net</a>, <a href="#" target="_blank">Iki.vn</a>, <a href="#" target="_blank">123doc.vn</a>, <a href="#" target="_blank">123tv.vn</a>, <a href="#" target="_blank">Vcamp.vn</a>, <a href="#">Hoc123.vn</a>.    
                            </span>
                        </p>
                    </div>
                </div>
                <div class="fivecol-two last">
                    <div id="title">
                        <img src="img/logo_idvatgia.png" />
                    </div>
                    <p class="wiid">Tài khoản <a href="#">VậtGiá ID</a> là gì ?</p>
                    <form class="" id="commentForm" method="POST" action="">
                        <input class="text" id="cemail" type="text" name="email" maxlength="255" placeholder="Email / Tên tài khoản" required />                        
                        <input class="text" id="cmatkhau" type="password" name="matkhau" maxlength="255" placeholder="Mật khẩu" required />                    
                        
                        <div class="remember">
                            <div class="control-group ">
                                <div class="controls">
                                    <label class="checkbox" for="SignInForm_remember">
                                        <input id="ytSignInForm_remember" type="hidden" value="0" name="SignInForm[remember]"/>
                                        <input name="SignInForm[remember]" id="SignInForm_remember" value="1" type="checkbox"/>
                                        Nhớ đăng nhập
                                    </label>
                                </div>
                            </div>    
                        </div>                      
                        <div class="span5 signin-button">
                            <button type="submit" id="btnSignIn" name="btnSignIn" >Đăng nhập</button>
                        </div>
                        <div class="clear"></div>
                    </form>

                </div>
                <div class="clear"></div>
            </div>
            <div id="footer"></div>
        </div>
    </body>
</html>