<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="author" content="GallerySoft.info" />
        <link rel="stylesheet" href="css/stysheet.css" type="text/css"  media="all"  />
        <title>Đăng ký</title>
    </head>

    <body>

        <div id="wrap">
            <div id="header">
            </div>
            <div id="main-container">
                <div class="fivecol-three">
                    <div class="row-fluid">
                        <h2 style="margin-bottom: 10px">Đăng ký tài khoản</h2>
                        <div class="product-header">
                            <img src="img/product_idvatgia.png" alt="ID Vật Giá"/>
                        </div>

                    </div>
                    <div class="row-fluid login-other-acc">
                        <p>
                            <strong><a href="/dang-nhap/">Đăng nhập ngay</a></strong>
                            hoặc thông qua
                        </p>
                        <a href="/dang-nhap/google/" class="btn-g"></a>
                        <a href="/dang-nhap/facebook/" class="btn-fb"></a>
                    </div>
                </div>
                <div class="fivecol-two last">
                    <div id="title"><img src="img/logo_idvatgia.png" /></div>
                    <p class="wiid">Tài khoản <a href="#">VậtGiá ID</a> là gì ?</p>
                    <form id="signUp-form" action="" method="post">                        
                        <div class="">
                            <div class="threecol-two">
                                <input placeholder="Họ Đệm" class="text" name="SignUpForm[first_name]" id="SignUpForm_first_name" type="text">            </div>
                            <div class="threecol-one last">
                                <input placeholder="Tên" class="text " name="SignUpForm[last_name]" id="SignUpForm_last_name" type="text">   
                            </div>
                            <input class="span5 pull-right" name="SignUpForm[name]" id="SignUpForm_name" type="hidden" value=" ">    
                            <span class="info" id="SignUpForm_name_em_" style="color: #b94a48;">Bạn không thể để trống tên.</span>
                            <div class="email-groups">
                                <input class="text" maxlength="255" placeholder="Email của bạn" name="SignUpForm[email]" id="SignUpForm_email" type="text">        
                            </div>
                            <span class="info" id="SignUpForm_email_em_" style="">Bạn không thể để trống Email</span>
                            <div >
                                <input class="text" maxlength="255" placeholder="Số điện thoại di động của bạn" name="SignUpForm[phone]" id="SignUpForm_phone" type="text" >        
                            </div>
                            <span class="info" id="SignUpForm_phone_em_" style="">Bạn cần điền số điện thoại</span>
                            <div  class="id_event">
                                <input autocomplete="Off" class="text" maxlength="255" placeholder="Mật khẩu" name="SignUpForm[password]" id="SignUpForm_password" type="password">        
                                <div id="vnalpha" style="display: none;">
                                    <div class="vnalpha-arrow vnalpha-arrow-w"></div>
                                    <div class="vnalpha-inner">Không được gõ tiếng việt có dấu.</div>
                                </div>
                            </div>
                            <span class="info" id="SignUpForm_password_em_" style="">Bạn không thể để trống Mật khẩu</span>
                            <div>
                                <input class="text" maxlength="255" placeholder="Gõ lại mật khẩu" name="SignUpForm[confirmed_password]" id="SignUpForm_confirmed_password" type="password">        
                            </div>
                            <div class="gender-error">
                                <label class="controls-label" style="display: block;">Giới tính</label>
                                <input id="ytSignUpForm_gender" type="hidden" value="" name="SignUpForm[gender]">
                                <label class="radio">
                                    <input class="radio_gender" id="SignUpForm_gender_0" value="MALE" type="radio" name="SignUpForm[gender]">
                                    <label for="SignUpForm_gender_0">Nam</label>
                                </label>
                                <label class="radio">
                                    <input class="radio_gender" id="SignUpForm_gender_1" value="FEMALE" type="radio" name="SignUpForm[gender]">
                                    <label for="SignUpForm_gender_1">Nữ</label>                                    
                                </label>    
                                <span class="help-block error" id="SignUpForm_gender_em_" style="display: none"></span>     
                            </div>
                            <div class="gender">
                                <label for="SignUpForm_dob" class="required">Ngày sinh <span class="required"></span></label>    
                            </div>
                            <div class="controls controls-rows email-groups">
                                <div  class="threecol-one">
                                    <input class="text " placeholder="Ngày" name="SignUpForm[dobD]" id="SignUpForm_dobD" type="text">            </div>
                                <div class="threecol-one ">
                                    <select class="text" name="SignUpForm[dobM]" id="SignUpForm_dobM">
                                        <option value="1">Tháng 1</option>
                                        <option value="2">Tháng 2</option>
                                        <option value="3">Tháng 3</option>
                                        <option value="4">Tháng 4</option>
                                        <option value="5">Tháng 5</option>
                                        <option value="6">Tháng 6</option>
                                        <option value="7">Tháng 7</option>
                                        <option value="8">Tháng 8</option>
                                        <option value="9">Tháng 9</option>
                                        <option value="10">Tháng 10</option>
                                        <option value="11">Tháng 11</option>
                                        <option value="12">Tháng 12</option>
                                    </select>    </div>    
                                <div  class="threecol-one last">
                                    <input class="text " placeholder="Năm" name="SignUpForm[dobY]" id="SignUpForm_dobY" type="text">            </div>
                                <input class="span5" name="SignUpForm[dob]" id="SignUpForm_dob" type="hidden" value="/1/"> 
                                <div class="clear"></div>

                            </div>   
                            <div class="span5 signin-button">
                                <button type="submit" id="btnSignIn" name="btnSignIn" >Đăng ký</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="clear"></div>
            </div>
            <div id="footer"></div>
        </div>



    </body>
</html>